.main{
  display:grid;
  
  grid-template-columns:max(300px) 1fr 1fr;
  
}

.body {
  grid-column:2/4;
  
}

.sidenav {
  grid-column-start: 1;
  grid-column-end:2;
  
  
}
.sidenav a{
  text-decoration:none;
  color:rgb(10, 9, 9);
  display:list-item;
  font-size: 20px;
  letter-spacing: 2px;
  padding:20px;
  border:1px solid black;
}